<template>
  <div class="home">
    <div class="container mt-3">
      <div class="card">
        <h1 class="card-title">Hacker News Stories</h1>
      </div>
      <ArticleListComponent v-for="(item,i) in wrappedAscStories(articles)" :key="i" :item="item" />
      <button @click="handleFetchMoreArticles" class="btn btn-light">more</button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onBeforeMount, computed } from 'vue';
import ArticleListComponent from "@/components/ArticleListComponent.vue";
import store from "@/store";
import moment from "moment";
import "@/assets/app.scss";

export default defineComponent({
  name: 'HomeView',
  components: {ArticleListComponent},
  setup() {

    const articles  = computed(() => store.getters.getHackerNewsArticles);
    const page = computed(() => store.getters.getCurrentPage);
    const offset = computed(() => store.getters.getOffset);
    const max = computed(() => store.getters.getMax);

    onBeforeMount(async () => {
      await store.dispatch('getHackerNewsArticlesAll');
      await store.dispatch('getHackerMoreStories', {page:1,offset:10})
    });

    const handleFetchMoreArticles = () => store.dispatch('getHackerMoreStories', {page:1,offset:5})
    const handleMomentTime = (time:any) => moment(time).fromNow();
    const wrappedAscStories = (data:any) => data.sort((a:any,b:any) => a.score - b.score);

    return {
      handleFetchMoreArticles,
      handleMomentTime,
      wrappedAscStories,
      page,
      offset,
      max,
      articles
    }
  }
});
</script>

<style lang="scss">

</style>