<template>
  <div class="view-stories">
      <div class="container mt-3">
        <div class="card">
          <h1 class="card-title">{{story.title}}</h1>
          <div class="card-body"></div>
        </div>

        <div class="card">
          <div class="card-body">

            <img :src="storyImg" alt="" class="card-img-top">


            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Created by: {{story.by}}</button>
              <button type="button" class="btn btn-secondary">Karma: {{story.score}}</button>
              <button type="button" class="btn btn-secondary">Created On: {{handleMomentTime(story.time)}}</button>
            </div>

            <p class="p-1">Full Story: <a :href="story.url" class="btn btn-primary" target="_blank">{{story.url}}</a></p>
            <a href="#" class="btn btn-primary" @click="handleBackLink">more articles</a>
          </div>
        </div>
      </div>

  </div>
</template>

<script lang="ts">
import {computed, defineComponent, onBeforeMount} from "vue";
import store from "@/store";
import router from "@/router";
import moment from "moment/moment";

export default defineComponent({
  name: "StoriesView",
  setup() {

    const story = computed(() => store.state.hackerNewsArticle);
    const storyImg = computed(() => store.state.hackerNewsArticleImg);

    const handleMomentTime = (time:any) => moment(time).fromNow();
    const handleBackLink = () => router.back();

    onBeforeMount(async () => {
      const id = router.currentRoute.value.params.id
      await store.dispatch('getHackerStory', id);
      if( storyImg.value == null ) await store.commit('setHackerNewsArticleImg', localStorage.getItem('storyImage'));
    });

    return {
      story,
      handleMomentTime,
      handleBackLink,
      storyImg
    }
  }
})
</script>

<style scoped lang="scss">

</style>