<template>
  <div class="card mb-3 shadow-sm" :class="[item.by]">
    <div class="card-body">

      <img :src="handleStoryImage(item)" alt="" class="card-img-top">

      <h3 class="card-title">{{item.title}}</h3>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Created by: {{item.by}}</button>
        <button type="button" class="btn btn-secondary">Karma: {{item.score}}</button>
        <button type="button" class="btn btn-secondary">Created On: {{handleMomentTime(item.time)}}</button>
      </div>

      <a @click="handleRouteStoryDetail(item.id)" class="btn btn-primary">read more</a>

    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent, ref} from "vue";
import moment from "moment/moment";
import router from "@/router";
import store from "@/store";

export default defineComponent({
  name: "ArticleListComponent",
  props: ["item"],
  setup() {

    const storyImage:any = ref(null);
    const handleMomentTime = (time:any) => moment(time).fromNow();

    const handleStoryImage = (item:any) => {
      storyImage.value = 'https://loremflickr.com/640/360?random=' + item.id
      return storyImage.value;
    }

    const handleRouteStoryDetail = (itemId:any) => {
      router.push(`stories/${itemId}`);
      store.commit('setHackerNewsArticleImg', storyImage.value);
      localStorage.setItem('storyImage', storyImage.value);
    }

    return {
      handleMomentTime,
      handleStoryImage,
      handleRouteStoryDetail
    }
  }
})
</script>

<style scoped lang="scss">

</style>