.card {
  text-align: left;

  a.btn-primary {
    color: #42b983;
  }
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.p-2 {
  padding-left: 2rem;
}
.p-1 {
  padding-left: 0.9rem;
}